/* Header.css */

.Header {
    background-color: #333;
    padding: 10px;
    text-align: left;
  }
  

  
  .Header ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .tab{
    font-size:30px;
    color: rgb(16, 222, 171);
  }

  
  .Header .tab:hover {
    color: #ddd;
    cursor: pointer;

  }
  